<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.observermonitorpublic.mapper.PublicStandardMapper">

    <select id="selectOneByDeviceSerial" parameterType="string" resultType="PublicStandard">
        select mps.*
        from monitor_public_standard mps
                 left join monitor_device md
                           on mps.device_id = md.id
        where md.device_serial = #{deviceSerial}
    </select>

    <update id="updateByDeviceSerial" parameterType="PublicStandard">
        update monitor_public_standard
        <set>
            create_time = #{createTime},
            update_time = #{updateTime},
            <if test="locHeight != null">
                loc_height = #{locHeight},
            </if>
            <if test="locWidth != null">
                loc_width = #{locWidth},
            </if>
            <if test="locLeft != null">
                loc_left = #{locLeft},
            </if>
            <if test="locTop != null">
                loc_top = #{locTop},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="upperWear != null">
                upper_wear = #{upperWear},
            </if>
            <if test="upperColor != null">
                upper_color = #{upperColor},
            </if>
            <if test="upperWearTexture != null">
                upper_wear_texture = #{upperWearTexture},
            </if>
            <if test="upperWearFg != null">
                upper_wear_fg = #{upperWearFg},
            </if>
            <if test="lowerWear != null">
                lower_wear = #{lowerWear},
            </if>
            <if test="lowerColor != null">
                lower_color = #{lowerColor},
            </if>
            <if test="headWear != null">
                head_wear = #{headWear},
            </if>
            <if test="glasses != null">
                glasses = #{glasses},
            </if>
            <if test="bag != null">
                bag = #{bag},
            </if>
            <if test="faceMask != null">
                face_mask = #{faceMask},
            </if>
            <if test="orientation != null">
                orientation = #{orientation},
            </if>
            <if test="cellphone != null">
                cellphone = #{cellphone},
            </if>
            <if test="smoke != null">
                smoke = #{smoke},
            </if>
            <if test="carryingItem != null">
                carrying_item = #{carryingItem},
            </if>
            <if test="umbrella != null">
                umbrella = #{umbrella},
            </if>
            <if test="vehicle != null">
                vehicle = #{vehicle},
            </if>
            <if test="occlusion != null">
                occlusion = #{occlusion},
            </if>
            <if test="upperCut != null">
                upper_cut = #{upperCut},
            </if>
            <if test="lowerCut != null">
                lower_cut = #{lowerCut},
            </if>
            <if test="isHuman != null">
                is_human = #{isHuman},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId}
            </if>
        </set>
        where device_id = (select id from monitor_device where device_serial = #{deviceSerial})
    </update>

</mapper>
