<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.observermonitorpublic.mapper.PublicImgMapper">

    <select id="selectPageByDeviceSerial" parameterType="string" resultType="PublicImg">
        select mpi.*
        from monitor_public_img mpi
                 left join monitor_device md
                           on mpi.device_id = md.id
        where md.device_serial = #{deviceSerial}
        order by mpi.create_time desc
    </select>

    <insert id="insertByDeviceSerial" useGeneratedKeys="true" keyProperty="publicImg.id">
        insert into monitor_public_img (create_time,
                                        update_time,
                                        path,
                                        illegal_type,
                                        device_id)
        values (now(),
                now(),
                #{publicImg.path},
                #{publicImg.illegalType},
                (select id from monitor_device where device_serial = #{deviceSerial}))
    </insert>

</mapper>
