<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.observermonitor.mapper.DeviceMapper">

    <select id="selectOneByUsername" parameterType="string" resultType="Device">
        select md.*
        from monitor_device md
                 left join user_userinfo uu
                           on md.user_id = uu.id
        where uu.username = #{username}
    </select>

</mapper>
